/* style.css */
html {
    scroll-behavior: smooth;
}

/* Custom Scrollbar for the dark theme */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #1A110D; 
}
::-webkit-scrollbar-thumb {
    background: #D4AF37; 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #B6952F; 
}

/* Hide scrollbar for cart items specifically but allow scrolling */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Specific active states not handled by tailwind */
.active-time {
    background-color: #D4AF37 !important;
    color: #1A110D !important;
}
